# Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

# Build output
bin/
obj/
Debug/
Release/

# NuGet Packages
packages/

# Local Database (Database files)
App_Data/*.mdf
App_Data/*.ldf

# Temporary & Log files
*.log
*.tmp
